body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
background-1: #FBF8EF
background-2: #BCAEA1
text-1: #FFFFFF
text-2: #7A7168
yellow: #ECC400
orange: #E99B5D
0: #CCC0B4
2: #EEE4DA
4: #ECE0C8
8: #F2B179
16: #EC8F54
32: #F57C5F
64: #E95937
128: #F3D96B
256: #F4D048
512: #EABC33
2048: #E5BF2C
*/

.app {
  background-color: #FBF8EF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  border-radius: 5px;
  background: #BCAEA1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}


.cell {
  width: 60px;
  height: 60px;
  color: #7A7168;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
  background: #CCC0B4;
  margin-right: 10px;
}

.cell:last-child {
  margin-right: 0;
}


.color-0 {
  color: #7A7168;
}

.color-2 {
  background: #EEE4DA
}

.color-4 {
  background: #ECE0C8
}

.color-8 {
  color: #fff;
  background: #F2B179
}

.color-16 {
  color: #fff;
  background: #EC8F54;
}

.color-32 {
  color: #fff;
  background: #F57C5F;
}

.color-64 {
  color: #fff;
  background: #E95937
}

.color-128 {
  color: #fff;
  background: #F3D96B
}

.color-256 {
  color: #fff;
  background: #F4D048
}

.color-512 {
  color: #fff;
  background:#EABC33
}

.color-1024 {
  color: #fff;
  background: #E2B913
}

.color-2048 {
  color: #fff;
  background: #E5BF2C
}